%footer{:role => "contentinfo"}
  .container
    .left
      %img{ :src => "/images/twitter.png", :width => "24", :style => "vertical-align: top;" }
      Find us on twitter
      %a{ :href => "http://twitter.com/plymouthwebdev" } @plymouthwebdev
    .right
      Built by
      %a{ :href => "http://danbarber.me" } Dan Barber
