%meta{:charset => "UTF-8"}/
%title Plymouth Web Dev Meet Up | Geek Talk and Beer!
%meta{:content => "Plymouth Web Dev is a monthly social meet up of like minded web developers and associated geeks."}/
%meta{:content => "True", :name => "HandheldFriendly"}/
%meta{:content => "320", :name => "MobileOptimized"}/
%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
%link{:href => "/stylesheets/main.css", :rel => "stylesheet"}/
%script{:src => "/javascripts/modernizr.js"}
%script{:src => "http://use.typekit.com/euo7egq.js", :type => "text/javascript"}
:javascript
  try{Typekit.load();}catch(e){}
:javascript
  var gOverride = {
    gColumns: 12,
    gWidth: 10,
  };
