.span-6.append-1
  %p The Plymouth Web Dev meet up is a monthly social event in Plymouth where web developers and other internet related geeks can gather to drink and discuss everything from new technologies to the latest games. Anything goes and everybody is welcome!
  %p We&rsquo;re pretty new and still finding our feet a little, so suggestions are always welcome. The feel will always be informal but we may incorporate some short talks in the future.

.span-5.last.vevent
  %p.summary The next Plymouth Web Dev meet up will be
  %p.time
    %time.dtstart{ :datetime => "2012-11-15T19:00" }
      %span.value-title{ :title => "2012-11-15T19:00" }
      %span.day Thursday
      %br
      %span.date 15th
      %br
      %span.month November
  %p.place
    %span 7pm
    At
    %span.location The Treasury, Plymouth
