.span-6.append-1
  %p The Plymouth Web Dev meet up is a monthly social event in Plymouth where web developers and other internet related geeks can gather to drink and discuss everything from new technologies to the latest games. Anything goes and everybody is welcome!
  %p Our next meetup will be a joint venture between the Exeter Web Dev guys and us, and will be enabled via a teleconference connection. There will be a number of short (10 minute) talks.

.span-5.last.vevent
  %p.summary The next Plymouth Web Dev meet up will be
  %p.time
    %time.dtstart{ :datetime => "2012-08-16T19:00" }
      %span.value-title{ :title => "2012-08-16T19:00" }
      %span.day Thursday
      %br
      %span.date 16th
      %br
      %span.month August
  %p.place
    %span 7pm
    At
    %span.location The Plymouth Arts Centre

.span-12

  %h2 Talks

  %h3 Exeter
  %p
    Ben Keeping
    %b &ldquo;Why Freelancers should do Agile&rdquo;
    and Natalie Taylor with a talk on Off site marketing and SEO strategies

  %h3 Plymouth
  %p
    Will Earp on
    %b &ldquo;Front-end Performance&rdquo;
    and Dan Barber on
    %b &ldquo;Responsive Design&rdquo;
